# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres5432
# POSTGRES_PORT=5432
# POSTGRES_DB=postgres
# POSTGRES_HOST=db

POSTGRES_USER=$POSTGRES_USER
POSTGRES_PASSWORD=$POSTGRES_PASSWORD
POSTGRES_PORT=$POSTGRES_PORT
POSTGRES_DB=$POSTGRES_DB
POSTGRES_HOST=$POSTGRES_HOST

# * * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# * * * * * root python3 /code/securities_table/initialize_sec_table_v2.py >> /var/log/cron.log 2>&1

# WORKING
# Takes about 7 minutes ----> UPDATES THE SECURITIES TABLE EVERYDAY
0 0 * * * root /usr/local/bin/python /code/securities_table/update_securities_table.py >> /var/log/cron.log_security 2>&1
# Takes about 2 minutes ----> UPDATES THE EARNINGS RELEASE TABLE EVERYDAY
30 0 * * * root /usr/local/bin/python /code/earnings_release/earnings_release.py >> /var/log/cron.log 2>&1
# Takes about 5 minutes ----> UPDATES THE STATEMENTS TABLE EVERY DAY
0 1 * * * root /usr/local/bin/python /code/updates/statements_updates.py >> /var/log/cron.log 2>&1

# * * * * * root /usr/local/bin/python /code/statements_table/update_statement_table_14.py >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
